* {
  padding: 0;
  margin: 0;
}


html,
body {
  height: 100vh;
  overflow-y: hidden;
}


h3, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  color: #585655;
}

ol {
  list-style: none;
  text-align: center;
}

.courseImg {
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
